.container {
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  color: brown;
}

.list {
  margin: auto;
  width: 80%;
  background-color: rgb(218, 246, 246);
  padding: 20px
  
}

.user {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: rgb(183, 235, 235);
  margin-bottom: 5px;
}

.user button {
  background-color: rgb(4, 123, 123);
  color: rgb(171, 218, 174);
  padding: 10px;
  width: 200px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

.user button:hover {
  color: rgb(210, 233, 37);
}

.user h2 {
  color:  rgb(54, 186, 186);
  text-align: center;
  padding: 10px;
}


.posts {
  background-color: rgb(98, 223, 223);

}
.post {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: rgb(216, 204, 69);
  margin-bottom: 5px;
}
