.container {
  background-color: whitesmoke;
}

.list {
  margin: auto;
  width: 80%;
  background-color: rgb(218, 246, 246);
  padding: 20px
  
}

.user {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: rgb(183, 235, 235);
  margin-bottom: 5px;
}